.traffic-light {
  background: #222;
  padding: 20px;
  width: 100px;
  border-radius: 20px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.light {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #444;
  cursor: pointer;
  transition: 0.3s;
}

.light.red.on {
  background: red;
  box-shadow: 0 0 15px red;
}
.light.yellow.on {
  background: yellow;
  box-shadow: 0 0 15px yellow;
}
.light.green.on {
  background: green;
  box-shadow: 0 0 15px green;
}